<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../public/styles.css" rel="stylesheet" type="text/css">
  <title>Document</title>
</head>
<!--menu bar can go here-->
<body class="container">
  <div class="box hoverBox">
  <p> <img src="../../screenshot.png" alt = pupppy picture> </p> </p>
  </div>
  <div class="box hoverBox">
    <p> <img src="../../screenshot.png" alt = pupppy picture> </p>
    </div> 
</body>
</html>