<div class="container">
  <form class="add-form" action="/places/add" method="post">
  <h1>Add your favourite place yourself!</h1>
    <div>
      <ul>
        <li>
          <label for="name">Place Name:</label>
          <input type="text" name="name">
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <label for="location">Location:</label>
          <input type="text" name="location">
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <label for="description">Description:</label>
          <textarea name="description" id="" cols="30" rows="10"></textarea>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <label for="image">Image Url:</label>
          <input type="text" name="image">
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <label for="url">Website Url: </label>
          <input type="text" name="url">
          <button>Submit</button>
        </li>
      </ul>
    </div>
  </form>
</div>