<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/styles.css" rel="stylesheet" type="text/css">
    <title> Details Page</title>
  </head>
<div class="container">
  <img class ='infoBox' src='../public/images/Cathedral-Cove.jpg' alt="name">
  <h2>{{name}}</h2>
  <div>location: {{location}}</div>
  <div>Description: {{description}}</div>
  <div> Go to their website! {{url}}</div>
</div>
</html>
