<div class='container warp'>
    <ul class='flex-container wrap'>
      {{#each places}}
      <li class='flex-item'>
        <a href ='/images/{{id}}'><img src='{{image}} ' alt='{{name}}'></a>
      </li>
      {{/each}}
    </ul>
  </div>