/* .menu {
	border: 2px solid black;
	width: 100%;
	display: flex;
	max-width: 100%;
}
.center {
  text-align: center;
  border: 3px solid green;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header {
	text-align: center;
	background-color: #c9eded;
}

.overlay {
	pointer-events: none;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.5em;
}

body {
	background-color: #c9eded;
	font-family: 'Montserrat', sans-serif;
}
.container {
	/* border: 2px solid black; */
	width: 90%;
	height: auto;
	margin: auto;
	display: flex;
	max-width: 100%;
	align-items: center;
}
/* p {
	text-align: center;
} */

.flexContainer {
	padding: 20px;
	/* margin: 3%px; */
	list-style: none;
	/* border: 1px solid silver; */
	display: flex;
	align-content: center;
	max-width: 100%;
	justify-content: center;
}
.wrap {
	flex-wrap: wrap;
}

img {
	/* max-width: 100%;
	max-height: auto;
	display: flex; */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.flexItem {
	position: relative;
	border: 2px solid black;
	padding: 0%;
	width: 685px;
	height: auto;
	margin: 30px;
	color: black;
	box-shadow: 0px 3px 10px #333;
	transition: all 200ms ease-in-out;
	background-color: whitesmoke;
}
.flexItem:hover {
	box-shadow: 15px 15px 30px #555;
}

.infoContainer {
	border: 2px solid black;
	width: 1000px;
	height: auto;
	margin: auto;
	list-style: none;
	max-width: 100%;
	align-items: center;
	text-align: center;
	background-color: whitesmoke;
}

.infoBox {
	border: 2px solid black;
	padding: 0px;
	width: 920px;
	height: auto;
	margin: auto;
	margin-top: 38px;
	box-shadow: 0px 3px 10px #333;
	max-width: 100%;
	display: flex;
}

.flexItem:hover .overlay {
	opacity: 1;
}

.flexItem:hover img {
	opacity: 0.6;
}
