/* .menu {
	border: 2px solid black;
	width: 100%;
	display: flex;
	max-width: 100%;
}
.center {
  text-align: center;
  border: 3px solid green;
} */

.container {
	border: 2px solid black;
	width: 1600px;
	height: auto;
	margin: auto;
	list-style: none;
	display: flex;
	max-width: 100%;
	align-items: center;
}
/* p {
	text-align: center;
} */

.flexContainer {
	padding: 0;
	margin: 0;
	list-style: none;
	border: 1px solid silver;
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}

img {
	max-width: 685px;
	max-height: auto;
}

.flexItem {
	border: 2px solid black;
	padding: 5px;
	width: 685px;
	height: auto;
	margin: 30px;
	color: black;
	text-align: center;
	box-shadow: 0px 3px 10px #333;
	transition: all 200ms ease-in-out;
}
.flexItem:hover {
	box-shadow: 15px 15px 30px #555;
}

.infoContainer {
	border: 2px solid black;
	width: 1000px;
	height: auto;
	margin: auto;
	list-style: none;
	max-width: 100%;
	align-items: center;
	text-align: center;
}

.infoBox {
	border: 2px solid black;
	padding: 0px;
	width: 920px;
	height: auto;
	margin: auto;
	margin-top: 38px;
	box-shadow: 0px 3px 10px #333;
	transition: all 200ms ease-in-out;
	max-width: 100%;
	display: flex;
}
.infoBox:hover {
	box-shadow: 15px 15px 30px #555;
}
